nav{
    display: flex;
    justify-content: space-evenly;
}

.conteiner-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-list{
    background-color: black;
    color: yellow;
    list-style: none;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}